


<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>


<% if @ad.user == current_user %>
  <%= link_to 'Edit', edit_ad_path(@ad) %> |
  <%= link_to 'Back', ads_path %>
<% end %>
